body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

textarea {
  padding: 13.5px 14px;
  border-radius: 0.25em;
}

.form__wrap {
  max-width: 500px;
  margin: 100px auto;
}

form {
  display: flex;
  flex-direction: column;
}

.error {
  color: #e90d0d;
}
.success {
  color: #1db11d;
}

.post-index {
  list-style: none;
  max-width: 80%;
  margin: 0 auto;
}

.post {
  border-radius: 8px;
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.post-author {
  display: inline-block;
  margin-left: 16px;
  color: #a5a5a5;
  font-size: 0.5em;
}
