body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

* {
  font-family: inherit;
}

textarea {
  padding: 13.5px 14px;
  border-radius: 0.25em;
}

.form__wrap {
  max-width: 500px;
  margin: 100px auto;
}

form {
  display: flex;
  flex-direction: column;
}

.error {
  color: #e90d0d;
}
.success {
  color: #1db11d;
}